html {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: hsl(233, 47%, 7%);
}

.card {
    width: 360px;
    height: 865px;
    background-color: hsl(244, 38%, 16%);
    color: white;
    border-radius: 10px;
}

.card-image-mobile {
    border-radius: 1em 1em 0 0;
    width: 100%;
    display: block;
}

.card-image-overlay-mobile {
    position: relative;
    display: flex;
}

.card-image-overlay-mobile::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #7a18c05d;
    border-radius: 1em 1em 0 0;
}

.card-image-overlay-desktop {
    opacity: 0;
    width: 0%;
}

.card-image-desktop {
    opacity: 0;
    width: 0%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
}

h1 {
    line-height: 33px;
    font-size: 2em;
}

.h1-purple {
    color: #9F62CC;
}

.content {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
    font-size: 1.1em;
    padding: 0px 8px 25px 8px;
    margin: 0;
}

.stats {
    list-style: none;
    text-align: center;
    padding: 0;
}

.stats-bold {
    font-weight: 700;
    font-size: 2em;
}

.stats-reg {
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.55em;
    letter-spacing: 2px;
    margin: 0;
    padding: 5px 0 28px 0;
}

@media (min-width:1440px) {
    .card {
        display: flex;
        flex-direction: row-reverse;
        width: 1155px;
        height: 446px;
    }

    .card-image-overlay-mobile {
        opacity: 0;
        width: 0%;
    }

    .card-image-mobile {
        opacity: 0;
        width: 0;
    }

    .card-image-overlay-desktop {
        opacity: 1;
        width: 540px;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .card-image-desktop {
        width: 540px;
        opacity: 1;
        border-radius: 0 10px 10px 0;
    }

    .card-image-overlay-desktop::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #7a18c05d;
        border-radius: 0 10px 10px 0;
    }

    .card-content {
        text-align: left;
        padding: 26px 70px;
    }

    h1 {
        font-size: 2.5em;
        line-height: 1.1em;
    }

    .content {
        padding: 0;
        padding-right: 70px;
        margin: 0;
        line-height: 1.7em;
    }

    .stats {
        display: flex;
        justify-content: space-between;
        margin-top: 70px;
        margin-right: 95px;
        font-size: 0.8em;
        text-align: left;
    }


}